/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-red: #ff0000;
  --vt-c-red-light: #f8a0a0;
  --vt-c-red-dark: #5a0000;

  --vt-c-gray-light: #cccccc;
  --vt-c-gray-dark: #2e2e2e;

  --vt-c-green: #00ff00;
  --vt-c-green-light: #a0f8a0;
  --vt-c-green-dark: #005a00;

  --vt-c-indigo: #2c3e50;
  
  --vt-c-divider-light-1: #c6c6c6;
  --vt-c-divider-light-2: #e7e7e7;
  --vt-c-divider-dark-1: #3f3f3f;
  --vt-c-divider-dark-2: #353535;

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: #282828;
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #969696;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-on: var(--vt-c-green-light);
  --color-off: var(--vt-c-gray-light);
  --color-error: var(--vt-c-red-light);  

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --color-on: var(--vt-c-green-dark);
    --color-off: var(--vt-c-gray-dark);
    --color-error: var(--vt-c-red-dark);  
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:  color 0.5s, background-color 0.5s;

  font-size: 10px;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
